{% extends "components/main.twig" %} 

{% block body %}
<h3 id="main-header" class="text-center">Shithead<small class="text-muted"> The Game</small></h3>
<div class="container">
    <div class="space"></div>
    {% for problem in problems %}
    <div class="alert alert-danger space"><strong>Error:</strong> {{ problem }}</div>
    {% endfor %} {% if playerName != null %}
    <h4 class="text-success">Welcome back, {{ playerName }}!</h4>
    <p>You are ready to play.</p>
    <a href="/game" type="button" class="btn btn-primary btn-lg btn-block">Join newest room</a>
    <a href="/logout" type="button" class="btn btn-danger btn-sm btn-block">Logout</a>
    {% else %}
    <p>Before you can play, you must enter a name to identify yourself.</p>
    <form action="/setName" method="POST">
        <input
            type="text"
            minlength="2"
            class="form-control-plaintext"
            name="name"
            placeholder="enter your name here"
        />
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Set name" />
    </form>
    {% endif %}
</div>
<footer class="font-small text-muted" id="footer">
    <p>By Stijn Rogiest | jan 2019 | <a href="https://github.com/CodeStix/shithead-the-game">GitHub</a></p>
</footer>
{% endblock %}
